div.effective {
	margin-top: 40px;
}

div.eheader {
	background-color: #ccccff;
	border: 2px solid blue;
}

div.ebody {
	min-height: 500px;

	background-color: #ccffcc;
	border: 2px solid green;
}

div.efooter {
	background-color: #ffcccc;
	border: 2px solid red;
}