div.effective {
	margin-top: 40px;
}

div.eheader {
#	background-color: #ccccff;
#	border: 2px solid blue;
}

div.ebody {
	min-height: 450px;

#	background-color: #ccffcc;
#	border: 2px solid green;
}

div.efooter {
#	background-color: #ffcccc;
#	border: 2px solid red;
}

.row_odd {
  background-color: #c2c2ff;
}

.row_even {
  background-color: #ededff;
}