<script type="text/javascript">
if(typeof effectiveApp === 'undefined') {
  window.location.replace("/index.html");
}
</script>
<h1>Define your companies.</h1>
<div class="esubmenu">
  <div class="nav">
	<ul>
	  <li>Add Company</li>
	</ul>
  </div>
</div>
<div class="container">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>
          <div class="col-sm-2"><strong>Company ID</strong></div>
          <div class="col-sm-3">Company Name</div>
          <div class="col-sm-3">Description</div>
          <div class="col-sm-2">Edit</div>
          <div class="col-sm-2">Delete</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="company in companies">
        <td>
          <div class="col-sm-2"><strong>{{company.id}}</strong></div>
          <div class="col-sm-3">{{company.name}}</div>
          <div class="col-sm-3">{{company.description}}</div>
          <div class="col-sm-2"><button>Edit</button></div>
          <div class="col-sm-2"><button>Delete</button></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<script type="text/javascript" src="js/companies.js"></script>
