<script type="text/javascript">
if(typeof effectiveApp === 'undefined') {
  window.location.replace("/index.html");
}
</script>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>Companies</strong></h3>
  </div>
  <div class="panel-body">
    <button type="button" class="btn btn-default">Add Company</button>
    <hr />
    <form class="form">
      <div class="form-group">
        <div class="col-sm-12">
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-filter" />
            </div>
            <input id="companyFilter" type="text" class="form-control" ng-model="companyFilter" placeholder="Filter Company Name">
          </div>
        </div>
      </div>
    </form>
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>
          <div class="col-sm-2">
            <a role="button" ng-click="companySort='id'; companySortReverse = !companySortReverse">
              Company ID
            <span ng-show="companySort == 'id'">
              <span ng-show="!companySortReverse" class="glyphicon glyphicon-triangle-top" />
              <span ng-show="companySortReverse" class="glyphicon glyphicon-triangle-bottom" />
            </span>
            </a>
          </div>
          <div class="col-sm-4">
            <a role="button" ng-click="companySort='name'; companySortReverse = !companySortReverse">
              Company Name
            <span ng-show="companySort == 'name'">
              <span ng-show="!companySortReverse" class="glyphicon glyphicon-triangle-top" />
              <span ng-show="companySortReverse" class="glyphicon glyphicon-triangle-bottom" />
            </span>
            </a>
          </div>
          <div class="col-sm-5">Description</div>
          <div class="col-sm-1">Action</div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="company in companies | orderBy:companySort:companySortReverse | filter:companyFilter">
        <td ng-class-odd="'row_odd'" ng-class-even="'row_even'">
          <div class="col-sm-2"><strong>{{company.id}}</strong></div>
          <div class="col-sm-4">{{company.name}}</div>
          <div class="col-sm-5">{{company.description}}</div>
          <div class="col-sm-1">
            <a role="button"><span class="glyphicon glyphicon-pencil pull-left"></span></a>
            <a role="button"><span class="glyphicon glyphicon-remove pull-right"></span></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript" src="js/companies.js"></script>
