<script type="text/javascript">
if(typeof effectiveApp === 'undefined') {
  window.location.replace("/index.html");
}
</script>
<h1>Define your companies.</h1>
<div class="esubmenu">
  <div class="nav">
	<ul>
	  <li>Add Company</li>
	</ul>
  </div>
</div>
<div class="container">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>
          <div class="col-sm-2">
            <a role="button" ng-click="orderByField='id'; reverseSort = !reverseSort">
              Company ID
              <span ng-show="orderByField == 'id'">
                <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top" />
                <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom" />
              </span>
            </a>
          </div>
          <div class="col-sm-4">
            <a role="button" ng-click="orderByField='name'; reverseSort = !reverseSort">
              Company Name
              <span ng-show="orderByField == 'name'">
                <span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top" />
                <span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom" />
              </span>
            </a>
          </div>
          <div class="col-sm-4">Description</div>
          <div class="col-sm-2">Action</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="company in companies | orderBy:orderByField:reverseSort">
        <td>
          <div class="col-sm-2"><strong>{{company.id}}</strong></div>
          <div class="col-sm-4">{{company.name}}</div>
          <div class="col-sm-4">{{company.description}}</div>
          <div class="col-sm-2"><button>Edit</button><button>Delete</button></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<script type="text/javascript" src="js/companies.js"></script>
