<script type="text/javascript">
if(typeof effectiveApp === 'undefined') {
  window.location.replace("/index.html");
}
</script>
<div>
  <table id="tlog">
    <tr>
      <th>Transaction ID</th>
      <th>Debit Account</th>
      <th>Credit Account</th>
      <th>Description</th>
      <th>Amount</th>
    </tr>
    <tr ng-repeat="transaction in transactions">
      <td>{{transaction.id}}</td>
      <td>{{transaction.debitAccount}}</td>
      <td>{{transaction.creditAccount}}</td>
      <td>{{transaction.description}}</td>
      <td>{{transaction.amount}}</td>
    </tr>
  </table>
</div>
<script type="text/javascript" src="js/transactions.js"></script>
